.storiesProfile {
  margin: 2rem 0rem 5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.storiesProfile .stories {
  -webkit-box-flex: 7.5;
      -ms-flex: 7.5;
          flex: 7.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.storiesProfile .stories .story {
  min-height: 23vh;
  width: 48%;
  margin: 0.5rem auto;
  background-color: #fbfbfb;
  border: 0.1rem solid #ececec;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 1rem;
}

.storiesProfile .stories .story a {
  text-decoration: none;
  color: inherit;
}

.storiesProfile .stories .story .title {
  text-align: center;
  cursor: pointer;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.storiesProfile .stories .story .author {
  margin-left: 2.7rem;
  color: gray;
  cursor: pointer;
}

.storiesProfile .stories .story .created {
  color: gray;
  margin-left: 2.7rem;
  margin: 0.2rem 0rem 0.2rem 2.7rem;
}

.storiesProfile .stories .story .info {
  margin-top: 1rem;
  color: gray;
  font-size: 1.5rem;
}

.storiesProfile .stories .story .seeMore {
  color: blue;
  cursor: pointer;
}

.storiesProfile .stories .story:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  border: none;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem lightgray;
          box-shadow: 0.1rem 0.1rem 0.5rem lightgray;
}

.storiesProfile .profile {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  background-color: #f3f3f3;
  border-radius: 1rem;
}

.storiesProfile .profile .userImg {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-left: 20%;
}

.storiesProfile .profile img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-top: 1rem;
  cursor: pointer;
}

.storiesProfile .profile .user {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.storiesProfile .profile .postNum {
  font-size: 1.1rem;
  text-align: center;
  margin: 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.storiesProfile .profile .darkMode {
  border-radius: 1rem;
  width: 50%;
  padding: 0.5rem;
  margin: 1rem 24%;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #cecece;
}

.storiesProfile .profile .darkMode:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem lightgray;
          box-shadow: 0.1rem 0.1rem 0.5rem lightgray;
}

@media screen and (max-width: 1300px) {
  .storiesProfile .stories .story {
    min-height: 25vh;
  }
  .storiesProfile .stories .story .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .storiesProfile .stories .story {
    min-height: 35vh;
  }
  .storiesProfile .stories .story .title {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  .storiesProfile .stories .story {
    min-height: 40vh;
  }
  .storiesProfile .stories .story .title {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */